body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.heading__text {
  font-size: 2em;
  font-style:italic;
  color: rgb(4, 4, 54);
}

.nav_bar {
  background-color: rgb(26, 33, 46);
  border-top:gold solid;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  margin: 0%;
}

.nav_item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav_item:hover {
  color: rgb(255, 198, 43);
}


.dropbtn {
  background-color: rgb(26, 33, 46);
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0f0f0f;}

.review_image {
  width: 300px;
  border: 1px solid rgb(104, 104, 104);
}

.filterButton {
  background-color: rgb(26, 33, 46);
  border: none;
  color:white;
  size: 10%;
  text-transform: uppercase;
}

.filterButton:hover{
  color: rgb(255, 198, 43);
}

.review_container {
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 5%;
  
}

.categoryList {
  list-style: none;
  margin-block: 10%;
}

.mytext {
  width: 300px;
  height: 200px;
}

.review_form {
  border:rgb(26, 33, 46) solid;
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
}

.form__box {
  width: 300px;
}

.upvoteButton, .deleteButton, .submitButton, .commentButton{
  background-color: rgb(26, 33, 46); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

.comment{
list-style: none;
border: rgb(26, 33, 46) solid thin ;
margin: 10px;
text-align: center;
}