body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  font-size: 1.5em;
}
h1 > span {
  color: rgb(228, 176, 34);
}

.nav_bar {
  background-color: rgb(26, 33, 46);
  box-shadow: 0px 5px 0px #adadad;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.nav_item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav_item:hover {
  color: rgb(255, 198, 43);
}


/* Dropdown Button */
.dropbtn {
  background-color: rgb(26, 33, 46);
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0f0f0f;}

.review_image {
  width: 300px;
  border: 1px solid rgb(104, 104, 104);
}

.review_container {
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 5%;
}

.categoryList {
  list-style: none;
  margin-block: 10%;
}

.mytext {
  width: 300px;
  height: 200px;
}

.form {
  width: 300px;
}